﻿&-header{
	transform:translateY(100%);
		
	// <children>
	&-logo{
		// <children>
		&__title{
			
		}
		
		&-media{
			// <children>
			&__object{
				margin:{left:auto;right:auto;};-webkit-transition:transform 1s ease;
				
				// <states>
				&:focus,&:hover{
					transform:rotate(360deg);
				}
				// </states>
			}
			// </children>
		}
		// </children>
		
	}
	// </children>
	
	// <instance>
	&:first-child{
		margin:{top:0;};
	}
	// </instance>
}