// <summary>
// Background and foreground helper classes that include contrast settings
// to adjust any text within a background to be correctly swapped to either light
// or dark variant to keep it readable.
// </summary>
&.background{
	// <nodes>
	&-color{
		@each $color-name,$color-value in $colors{
			// <nodes>
			&-#{str-slice($color-name,2,str-length($color-name))}{
				background:{color:$color-value;};
				color:accessible($color-value, $contrasts);
				fill:accessible($color-value, $contrasts);
			}
			// </nodes>
		}
	}

	&-palette{
		@each $color-name,$color-value in $palette{
			// <nodes>
			&-#{str-slice($color-name,1,str-length($color-name))}{
				background:{color:$color-value;};
				color:accessible($color-value, $contrasts);
				fill:accessible($color-value, $contrasts);
			}
			// </nodes>
		}
	}
	// <nodes>
}