// SVG assets
// Loaded so they are present and accessible as xlink:href values
div(data-ng-include="'/images/graphics/svg-symbols.svg'",style="display:none;")

// Client
// For Development
script(src="/jspm_packages/system.js")
script(src="config.js")
script.
	System.import('normalize-css');
	System.import('angular');
	System.import('/client/bootstrap');

// For production
// Running the gulp build task will use JSPM to generate
// a completely self contained file containing all application
// dependencies and source files
// script(src="client.js")