// Loader
// Add new entries to pull in relevant SCSS files
@import '_configuration/*.*';
@import '_configuration/**/*.*';
.utility{
	@import '_utilities/*.*';
}
.application{
	margin:{left:auto;right:auto;};max-width:600px;padding:20px;

	@import '_application/*.*';
}
@import '_parts/*.scss';
@import '../client/components/*/*.scss';
@import '../client/directives/*/*.scss';
.button{
	align-items:center;appearance:none;background:transparent;
	border:0;display:flex;padding:0;

	@import '_buttons/*.*';

	&:focus &__title,&:hover &__title
		{
			text-decoration:underline;
		}
}
.form{
	@import '_forms/*.*';
}
.graphic{
	display:block;text-indent:-9999px;

	@import '_graphics/*.*';
}
