@function contrasting($color1, $color2) {
	// Adapted from: https://github.com/LeaVerou/contrast-ratio/blob/gh-pages/color.js
	// Formula: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#contrast-ratiodef
	$luminance1: luminance($color1) + .05;
	$luminance2: luminance($color2) + .05;
	$ratio: $luminance1 / $luminance2;

	@if $luminance2 > $luminance1 {
		$ratio: 1 / $ratio;
	}

	$ratio: round($ratio * 10) / 10;

	@return $ratio;
}