@function luminance($color) {
	// Adapted from: https://github.com/LeaVerou/contrast-ratio/blob/gh-pages/color.js
	// Formula: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef
	$rgba: red($color), green($color), blue($color);
	$rgba2: ();

	@for $i from 1 through 3 {
		$rgb: nth($rgba, $i);
		$rgb: $rgb / 255;

		$rgb: if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));

		$rgba2: append($rgba2, $rgb);
	}

	@return .2126 * nth($rgba2, 1) + .7152 * nth($rgba2, 2) + 0.0722 * nth($rgba2, 3);
}