mixin button-action(title, link, iconType, iconClass, colorClass)
	a.button-action(class=colorClass,href=link)

		.button-action-label
			
			span.button-action-label__title
				| #{title}

		.button-action-media

			svg.button-action-media__object(class=iconClass)
				use(xlink:href=iconType)