&.chevron{
	height:256px;width:256px;
	
	// <modifiers>
	&.rotation{
		// <modifiers>
		&.up{
			transform:rotate(180deg);
		}
		// </modifiers>
	}
	&.size{
		// <modifiers>
		&.small{
			height:26px;width:32px;
		}
		// </modifiers>
	}
	// </modifiers>
}